body{
/* background-color: yellow;*/
font-family: Helvetica;
}
.wrapper{
    width: 920px;
    margin: auto;
}
.main_content{
    float: left;
    width: 780px;
}
.form{
    
}
.textarea{
    width: 780px;
    height: 400px;
}
.button_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15%;
}
.button{
    background-color: gray;
    padding: 18px;
    color: white;
    width: 100px;
}
.none {
  display: none;
}

